header {
    padding: 8px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
}

header {
    h1 {
    color: $secondary-color;
    margin-left: 24px;
}
}

li {
    display: inline;
    padding: 24px;
    font-size: medium;
    a {
        color: $secondary-color;
        text-decoration: none;
        &.active {
            text-decoration: underline;
        }
}

nav {
    margin-right: 24px;
}
}