body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100svh;
  &.no-scroll{
    overflow-y: hidden;
  }
  &.sobre{
    background: rgb(187, 21, 49);
  }

  &.contactos {
    background: rgb(13, 178, 82);
  }

  &.home {
    background: rgb(230, 173, 223);
  }
}
  h1 {
    @include fontMain;
    @include fontLarge;
    margin: 0;
    color: #000;
    text-align: center;
  }
  p {
    @include fontMain;
    @include fontMedium;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
  }
  header,
  footer {
    @include fontMain;
    @include fontMedium;
  }
  .flex-grid {
    width: 100%;
  }
  .column {
    background: #90ee90;
  }
  .column:not(:last-child) {
    margin-bottom: 30px;
  }
  @media (min-width: $medium) {
    .flex-grid {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
    .column {
      width: 33.33%;
    }
    .column:not(:last-child) {
      margin-bottom: 0;
    }
  }

img {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    
}

figure {
    position: relative;
    background-color: blue;
    overflow: hidden;
    margin: 0;
    padding-bottom: ratio(16,9);
}


  main {
    background: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
  @media (min-width: $medium) {
      max-width: 100%;
      padding: 30px;
    }
  @media (min-width: $large) {
      max-width: 1130px;
    }
  }